<html>
    <head>
        <title>Articles</title>
    </head>
    <body>
    <h6 style="font-size: 25px; color: rgba(171,115,198,0.91)">Articolele sunt:</h6>
        {% for article in articles %}
           <b> Titlu:</b> {{ article.title }}
            <b>Continut: </b> {{ article.content }}
            <b><a href="/article/{{ article.id }}">more</a></b>
            <br> <br>
        {% endfor %}
    <h4><i>Comenzi: /Hello pt hello</i></h4>
    <h4><i>Comenzi: /article/create  pt a crea un nou articol</i></h4>
    <h4><i>Comenzi: /article/nr  pt a vedea articolul dorit</i></h4>

    </body>
</html>