{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>

<body>
    <div class="container" style="width: 20%;">
        <div class="row">
            <div class="col" style="width: 100vw;">
                    <div style="padding-top: 30px;">
                    <div class="row" style="width: 1152px;">
                        <div class="col" style="width: 954px;">
                            <h1 style="font-family: 'Open Sans', sans-serif;width: 100%;">{{ article.title }}<font size="5px" style="color: #595959;"> - {{article.date}}</font></h1>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-justify" style="padding: 0px;padding-right: 21px;font-family: 'Open Sans', sans-serif;width: 100%;"><br>{{ article.description }}<br><br></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-weight: bold;font-family: 'Open Sans', sans-serif;">~ {{article.user}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>