{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>

<body>
    <header style="height: 149px;">
        <h1 class="text-center" style="font-family: 'Open Sans', sans-serif;padding-top: 28px;width: 100vw;">Welcome</h1>
        <p class="text-center" style="width: 100vw;">Here are all the articles:</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="col" style="width: 100vw;">
                <div style="padding-top: 30px;">
                    <div class="row" style="width: 1152px;">
                        <div class="col" style="width: 954px;">
                            <a class="article_title" href="#">
                                <h1 style="font-family: 'Open Sans', sans-serif;width: 100%;">Human Dignity Org.</h1>
                            </a>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-justify" style="padding: 0px;padding-right: 21px;font-family: 'Open Sans', sans-serif;width: 100%;"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum ut libero a pretium. Nulla congue venenatis nulla, vitae efficitur felis accumsan at. Maecenas interdum urna id neque hendrerit faucibus.
                                                Vestibulum ac varius nunc, in&nbsp;<br><br></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-weight: bold;font-family: 'Open Sans', sans-serif;">~</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="color: rgb(111,111,111);background-color: #4e4e4e;width: 697px;height: 0px;padding-top: 0px;margin-top: 37px;">
            </div>
        </div>
    </div>
</body>

</html>