{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>

<body>
    <header style="height: 149px;">
        <h1 class="text-center" style="font-family: 'Open Sans', sans-serif;padding-top: 28px;width: 100vw;">Welcome</h1>
        <p class="text-center" style="width: 100vw;">Here are all the articles:</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="col" style="width: 100vw;">
                    <p><font size="20px">{{text}}</font></p>
                    {% for article in articles %}
                    <div style="padding-top: 30px;">
                    <div class="row" style="width: 1152px;">
                        <div class="col" style="width: 954px;">
                            <h1 style="font-family: 'Open Sans', sans-serif;width: 100%;"><a class="article_title" href="{% url 'article' article.id %}">{{ article.title }}</a> <font size="5px" style="color: #595959;">- {{article.date}}</font></h1>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <hr style="color: rgb(111,111,111);background-color: #4e4e4e;width: 697px;height: 0px;padding-top: 0px;margin-top: 37px;">
                <a href="article/create">Add a new entry</a>
            </div>
        </div>
    </div>
</body>

</html>